In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import pickle
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Load data
df1 = pd.read_csv("Clean.csv")
df2 = pd.read_csv("Clean1.csv")

df = pd.concat([df1, df2], axis=0, ignore_index=True)

# Drop unnecessary columns
df.drop(["Unnamed: 0", "Price_Log", "Location","Published_Year"], axis=1, inplace=True)

# One-hot encode categorical variables
df_main = pd.get_dummies(df, columns=['Model', 'Brand'], drop_first=True)

# Split the data into features (X) and target variable (y)
y = df_main['Price']
X = df_main.drop('Price', axis=1)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=91)

# Initialize and train your linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Save the trained model to a file
with open("model_final.pkl", "wb") as model_file:
    pickle.dump(model, model_file)

# Load the saved model
loaded_model = pickle.load(open("model_final.pkl", "rb"))

# Make predictions
y_pred = loaded_model.predict(X_test)

# Calculate R-squared
r2 = r2_score(y_test, y_pred)

print("Accuracy is", r2)

Accuracy is 0.8403017864169412

In [5]:
df_main.head()

   Price  Mileage  Year  Model_Honda  Brand_Pleasure
0   5.00    39000  2017            1               0
1   5.78    30000  2018            1               0
2   5.65    15250  2017            1               0
3   5.35    44444  2018            1               0
4   5.92    34000  2019            1               0

In [6]:
df["Brand"].unique()

array(['Dio', 'Pleasure'], dtype=object)